.left {
  float: left;
  margin-right: 1.5em;
  border: 2px solid
}

.about {
  padding-top: 3em;
  width: 75%;
  margin: 0 auto;
  line-height: 1.5em;
  font-family: 'Josefin Sans 300', sans-serif;
}

@media all and (max-width: 1100px) {
  .about {
    width: 80%;
  }
}

@media all and (max-width: 950px) {
  .about {
    width: 95%;
  }
}
