.navigation {
  list-style: none;
  height: 7em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px dashed;

  .navleft {
    display: flex;
    align-items: center;

    .App-logo {
      animation: App-logo-spin infinite 5s linear;
    }
  }

  img {
    height: 47px;
    width: 47px;
  }

  p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.8em;
    padding-left: 5px;
  }

  ul {
    display: flex;
    font-family: 'Josefin Sans 600', sans-serif;
    li a {
      padding: 3em 2em;
    }
  }

  a {
    color: black;
    text-decoration: none;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


// .navigation a:hover {
//   background: darken(deepskyblue, 2%);
// }

// @media all and (max-width: 800px) {
//   .navigation {
//     justify-content: space-between;
//   }
// }
//
// @media all and (max-width: 600px) {
//   .navigation {
//     flex-flow: column wrap;
//     padding: 0;
//   }
//
//   .navigation a {
//     text-align: center;
//     padding: 10px;
//     border-top: 1px solid rgba(255,255,255,0.3);
//     border-bottom: 1px solid rgba(0,0,0,0.1);
//   }
//
//
//   .navigation li:last-of-type a {
//     border-bottom: none;
//   }
// }
