@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:400,300,300italic,100,100italic,600);

@import 'navStyles';
@import 'picturesStyles';
@import 'aboutStyles';
@import 'reset';


body {
  background-image: url("bg.png");
  overflow-y: scroll;
}

// .viewport {
//   overflow: auto;
//   max-height: 100%;
//   margin-right: -100px;
//   padding-right: 100px;
// }
//
// .hide-scroll {
//   overflow: hidden;
// }

.container {
  margin: 0 15% auto;

}
